*{
	margin: 0;
	padding: 0;
	background-color: lightgrey;
}

.navbar{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-decoration: none !important;
  /* margin-left: 10%; */
  text-align: center;
}

a{
  text-decoration: none;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:100%;
}

.block{
  border: 2px solid green;
  padding: 10%;
  margin: 10%;
}

@media all and (min-width: 482px) and (max-width: 992px){
  .block{
    min width: 400px;

  }
  .a{
    grid-column: 2/3;
  }
  .b{
      grid-column: 2/3;
  }
  .c{
  grid-column: 2/3;
  }
  .a p{
    min-width: 200px;
  }
  .b p{
    min-width: 200px;
  }
  .c p{
    min-width: 200px;
  }
}

@media all and (max-width:482px){
.block{
  min width: 400px:

}
.a{
  grid-column: 2/3;
  min-width: 250px;
}
.b{
    grid-column: 2/3;
    min-width: 250px;
}
.c{
grid-column: 2/3;
min-width: 250px;
}
.a p{
  min-width: 200px;
}
.b p{
  min-width: 200px;
}
.c p{
  min-width: 200px;
}
}
